[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
openai = "==0.27.8"
python-dotenv = "*"
numpy = "*"
tenacity = "*"
beautifulsoup4 = "*"
faiss-cpu = "*"
streamlit = "==1.29.0"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"